{% extends 'base.html' %}
{%  block head %}
    <title>EZ Games 4 Fun: Button Game</title>

{% endblock %}

{%  block body %}
    <h1><center>Button Game</center></h1>
    <br>
    <br>
    <script>
        var highScore = 0;
        var score = 0;
        var xpos = 500;
        var ypos = 300;
        var count = 0;
        document.getElementById("scoreLabel").innerHTML = score;
    </script>

    <label id="scoreLabel">Score: 0</label>
    <label id="highScore">High Score: 0</label>
    <label id="timer">30 seconds</label>
    <div id="buttonGame">
        <button id="buttonMain"></button>

    </div>
    <br>
    <script>
    var buttonMainID = document.getElementById('buttonMain');

    document.getElementById('buttonMain').addEventListener('click', moveBtn);

    function getxpos(){
        xpos = Math.floor((Math.random() * (1000-40)));
        xpos = xpos.toString() + 'px';
        return xpos;
    }
    function getypos(){
        ypos = Math.floor((Math.random() * (600 -40)));
        ypos = ypos.toString() + 'px';
        return ypos;
    }

    function getScore(){
        return score;
    }
    function timer(){
        var sec = 30;
        var timer = setInterval(function(){
        document.getElementById('timer').innerHTML=sec + ' seconds';
        sec--;
        if (sec < 0) {
            clearInterval(timer);
            if (score > highScore){
                highScore = score;
                document.getElementById('highScore').innerHTML ='High Score:' + highScore.toString();
            }
            score = 0;
            count = 0;

        }
    }, 1000);
}
    function moveBtn(){
        xpos = getxpos();
        ypos = getypos();
        buttonMainID.style.marginLeft = xpos;
        buttonMainID.style.marginTop = ypos;
        score += 1;
        document.getElementById("scoreLabel").innerHTML = 'Score: ' + getScore()
        console.log(xpos,ypos);
        if (count == 0){timer(); count++;}
    }
    </script>

    Description: See how many buttons you can click in a certain amount of time!
{% endblock %}

