{% extends 'base.html' %}
{%  block head %}
    <title>EZ Games 4 Fun: Button Game</title>

{% endblock %}

{%  block body %}
    <h1><center>Button Game</center></h1>
    <br>
    <br>
    <label id="scoreLabel">0</label>
    <script type ="text/javascript" id="scoreScript">
        document.getElementById("scoreLabel").innerHTML = score;
    </script>
    <label id="timer">10 seconds</label>
    <div id="buttonGame">
        <button id="buttonMain"></button>

    </div>
    <br>
    Description: See how many buttons you can click in a certain amount of time!
{% endblock %}

